/* Sheepu Theme Colors */ 
$IMG_3289-1-rgba: rgba(220,30,120, 1);
$IMG_3289-2-rgba: rgba(60,140,190, 1);
$IMG_3289-3-rgba: rgba(220,195,20, 1);
$IMG_3289-4-rgba: rgba(125,190,105, 1);
$IMG_3289-5-rgba: rgba(240,30,15, 1);